*.p
*.xml
*.pyc
.idea/
/tester/*.txt


tester/Old_test_data/

tester/NEW_good_data_MLE_Better/

Evaluation/paper_graphs/data/gumbel_200f_100p_5per_n1_pf02/

Evaluation/paper_graphs/data/temp_data/

Evaluation/paper_graphs/data/uniform_200f_100p_5per_n1_pf02/
